/* For use in src/lib/core/theming/_palette.scss */
$blue-pallete: (
    50 : #e0f2fc,
    100 : #b3def9,
    200 : #80c8f5,
    300 : #4db2f0,
    400 : #26a2ed,
    500 : #0091ea,
    600 : #0089e7,
    700 : #007ee4,
    800 : #0074e1,
    900 : #0062db,
    A100 : #ffffff,
    A200 : #cfe2ff,
    A400 : #9cc2ff,
    A700 : #83b2ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$cyan-pallete: (
    50 : #e0ecec,
    100 : #b3cfd1,
    200 : #80b0b2,
    300 : #4d9093,
    400 : #26787b,
    500 : #006064,
    600 : #00585c,
    700 : #004e52,
    800 : #004448,
    900 : #003336,
    A100 : #6ef4ff,
    A200 : #3bf0ff,
    A400 : #08ecff,
    A700 : #00dbed,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$teal-pallete: (
    50 : #e0eae8,
    100 : #b3cac6,
    200 : #80a6a0,
    300 : #4d8279,
    400 : #26685d,
    500 : #004d40,
    600 : #00463a,
    700 : #003d32,
    800 : #00342a,
    900 : #00251c,
    A100 : #60ffcf,
    A200 : #2dffbf,
    A400 : #00f9ad,
    A700 : #00e09c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$red-pallete: (
    50 : #f6e4e4,
    100 : #e9bbbb,
    200 : #db8e8e,
    300 : #cd6060,
    400 : #c23e3e,
    500 : #b71c1c,
    600 : #b01919,
    700 : #a71414,
    800 : #9f1111,
    900 : #900909,
    A100 : #ffbebe,
    A200 : #ff8b8b,
    A400 : #ff5858,
    A700 : #ff3f3f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

